@model IEnumerable<Modelo.Arquivos>

<table class="table">
    <tr>
        <th class="text-center">
            Registro Acadêmico
        </th>
       
        <th class="text-center">
            Nome Arquivo
        </th>
        <th class="text-center">
            Data Remoção
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.RA)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.NomeArquivo)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.DtSerRemovido)
        </td>
       
    </tr>
}

</table>
