@using (Html.BeginForm("Papelaria", "Arquivos", FormMethod.Post))
{
    <form class="navbar-form navbar-left busca" style="display:none">
        <div class="form-group">
            <div class="col-xs-3">
                <input type="text" name="registro" class="form-control" placeholder="Registro Acadêmico">
            </div>
        </div>
        <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
    </form>
}
