.navbar-right a {
    text-align: center;
    margin:7px 4px;
    border-radius:5px;
    padding: 6px 7px !important;
    transition:background-color .3s;
}

.navbar-right a:hover {
    background-color: rgba(140, 140, 140, 0.16) !important;
    transition:background-color .3s;
}

.navbar-right a p {
    margin:0;
}

.navbar-right p  {
    margin:0;
}

.navbar-header, .navbar-left{
padding: 8px 0;

}

